$primary: #FAF7F2;
$secondary: #FDC913;

.container {
    display: flex;
    margin: 3rem 0 3rem 0;
}

@mixin card-layout($color: $primary) {
    padding: 2rem;
    background: $color;
    width: calc(100%/3);
    text-align: center;
    border-radius: 1rem;
    margin: 0 1rem 0 1rem;
}

.card:nth-child(odd) {
    @include card-layout;
}

.card:nth-child(even) {
    @include card-layout($color: $secondary);
}