.container{
    display: flex;
}
.detail{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    width: 50%;
    min-height: 28rem;
}
.image{
    position: absolute;
    right: 1rem;
}
.button {
    margin-left: 1.5rem;
    padding: 0.75rem 2rem;
    border-radius: 1rem;
    font-size: large;
    border: none;
    cursor: pointer;
}