$slide-count: 4;
$slide-width: 17rem;
$tab-border-color: rgba(0, 0, 0, 0.5);
$primary: #FAF7F2;
$secondary: #FDC913;

.intro {
    width: 60%;
}

.tabs {
    display: flex;
    button {
        display: flex;
        align-items: center;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        border: none;
        border-bottom: 2px solid $tab-border-color;
        background-color: white;
        border-radius: 0.2rem;
        cursor: pointer;
    }
    button span {
        margin-left: 1rem;
    }
}

#active {
    border-left: 2px solid $tab-border-color;
    border-top: 2px solid $tab-border-color;
    border-right: 2px solid $tab-border-color;
    border-bottom: none;
}

// Card Carousel styles

.carouselWrap {

    margin-top: 10%;
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.carouselInner {
    height: 40rem;
    position: relative;
    width: calc(#{$slide-width * 3});
}

.carouselContainer {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 67rem;
}

.carouselSlideList {
    height: 100%;
    left: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}

.carouselSlideItem {
    display: inline-block;
    height: $slide-width;
    margin: 0;
    padding: 1rem;
    position: absolute;
    transition: all 0.3s;
    width: $slide-width;
}

.carouselSlideItemImgLink {
    display: flex;
}

.carouselSlideItemImage {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.carouselSlideItemBody {
    width: $slide-width - 2rem;
    padding: 1rem;
    position: absolute;
    background-color: $primary;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    p {
        font-size: 1.25rem;
        line-height: 1.3;
            margin: 0.7rem 0 0;
    }
    .currency{
        color: $secondary;
    }
    .addedToCart{
        color: rgb(1, 134, 23);
    }
}

.cart {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 1.25rem;
    align-items: center;
    color: #666666;
    svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 2rem;
    }
}

.carouselBtn {
    align-items: center;
    background: 0;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);

    &Prev {
        left: -2rem;
    }

    &Next {
        right: -19rem;
    }
}

.carouselBtnArrow {
    border: solid black;
    border-width: 0 0.4rem 0.4rem 0;
    height: 1rem;
    padding: 2px;
    width: 1rem;
    z-index: 10;

    &Left {
        transform: rotate(135deg);
    }

    &Right {
        transform: rotate(-45deg);
    }
}