$secondary: #FDC913;

.header {
    display: flex;
    justify-content: space-between;
}

.header div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 0 6px 0;
    margin: 0 20px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid $secondary;
}

.topnav a.active {
    border-bottom: 3px solid $secondary;
}

.cart {
    background: none;
    border: none;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D80027;
    border-radius: 50%;
    color: white;
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25%, -25%);
}

.button {
    margin-left: 1.5rem;
    padding: 0.75rem 2rem;
    border-radius: 1rem;
    font-size: large;
    border: none;
    cursor: pointer;
}