$primary: #FAF7F2;
$secondary: #FDC913;

%input-layout {
    padding: 1rem;
    width: 20rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}

.container {
    display: flex;
    background-color: $primary;
    padding: 2rem;
    border-radius: 1rem;
}

.container div {
    margin: 0 1rem 0 1rem;
}

.redText{
    color: #D80027;
    font-weight: bold;
    font-size:x-large;
}

.inputField {
    @extend %input-layout;
    border: 1px solid white;
    font-size: large;
}

.inputField:focus {
    outline: none;
    border: 1px solid $secondary;
}

.submitButton{
    @extend %input-layout;
    border: none;
    background-color: $secondary;
    cursor: pointer;
}

.successMsg{
    @extend %input-layout;
    border: 1px solid darkgreen;
    background-color: greenyellow;
    color: darkgreen;
}
.errorMsg{
    @extend %input-layout;
    border: 1px solid maroon;
    background-color: red;
    color: maroon;
}